<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Saketha_Hotel_System_Try_1.Properties.Settings.hotel_sakethaConnectionString"
        connectionString="server=127.0.0.1;user id=root;password=@sliitproject3;persistsecurityinfo=True;database=hotel_saketha"
        providerName="MySql.Data.MySqlClient" />
    <add name="Saketha_Hotel_System_Try_1.Properties.Settings.hotel_sakethaConnectionString1"
        connectionString="server=127.0.0.1;user id=root;persistsecurityinfo=True;database=hotel_saketha"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>